---
apiVersion: v1
data:
  registry.key: {{ registry_key_data['content'] }}
  registry.crt: {{ registry_cert_data['content'] }}
kind: Secret
metadata:
  name: registry-cert
  namespace: {{ registry_namespace }}
  labels:
    app: registry-app
type: Opaque